template(name="turmasView")
	.ui.basic.segment
		h2.ui.blue.dividin.header Turmas
	table.ui.blue.top.attached.table
		thead
			tr
				th Nome
		tbody
			if salas
				each salas
					tr
						td #{nome}
			else
				tr
					td.red.text(colspan="3") Não há Sala cadastrada.
	.ui.secondary.botton.attached.clearing.segment
		a.ui.blue.large.button(href="/admin/salas/add") Nova Sala
		.ui.pagination.small.right.floated.menu
			.item 1
			.item 2
			.item 3
