template(name="loginView")
	.ui.container.three.column.grid
		.column
		.column
			.ui.blue.top.attached.segment
				h3.ui.dividing.blue.header Login
				.ui.hidden.divider
				form.ui.form#loginForm(method="post")
					.field
						label Email
						input(type="text",name="email",novalidation)
					.field
						label Senha
						input(type="password",name="password")
					.ui.secondary.bottom.attached.segment
						.ui.fluid.blue.submit.button Entrar
						.ui.divider
						.ui.fluid.red.button#cadastreseBtn Cadastre-se
