template(name="presencasView")
	.ui.blue.top.attached.clearing.segment
		h3.ui.blue.left.floated.header Presenças
		.ui.red.right.floated.icon.button#delAllPresenca
			i.trash.icon
		.ui.right.floated.button #{totalPresencas}
	if series
		.ui.four.column.attached.grid.segment
			each series
				.column
					.ui.blue.top.attached.segment
						h3.ui.blue.header #{nome}
					if turmas
						.ui.fluid.vertical.attached.menu
							each turmas
								.item
									|#{nome}
									.ui.label(class="#{presentesClass qtd_alunos qtd_presentes 'green' 'orange'}") #{qtd_alunos}
									.ui.label(class="#{presentesClass qtd_alunos qtd_presentes 'green' 'blue'}") #{qtd_presentes}
	if presencas
		table.ui.table
			thead
				tr
					th Aluno
					th Hora
					th Série
					th Turma
			tbody
				each presencas
					tr
						td #{aluno.nome}
						td #{formatDate date 'H'}
						td #{getSerie aluno_id}
						td #{getTurma aluno_id}
