template(name="matriculasFormView")
	.ui.blue.top.attached.segment(class="#{isDisabled}")
		h3.ui.blue.header Nova Matrícula
	.ui.attached.segment(class="#{isDisabled}")
		form.ui.form#matriculaForm(method="post")
			.two.fields
				.field(class="#{isDisabled}")
					label Aluno
					.ui.search.dropdown
						input(type="hidden",name="aluno_id")
						.text.default Selecione o Aluno
						i.dropdown.icon
						.ui.menu
							each alunos
								.item(data-value="#{_id}") #{nome}
					
	.ui.secondary.botton.attached.segment(class="#{isDisabled}")
		button.ui.blue.button(class="#{isDisabled}",type="submit",form="matriculaForm") Gravar Aluno
