template(name="matriculaView")
	+seriesTurmasView
	+matriculasFormView
	.ui.blue.top.attached.segment
		h2.ui.blue.header Matrículas
	.ui.botton.attached.four.column.grid.segment
		if matriculas
			each matriculas
				.column
					.ui.blue.card
						.ui.red.button.delAluno X
						.image
							img(src="#{foto.fotoCrachaUrl}")
						.content
							.header #{aluno.nome}
							.description #{aluno.idade} anos
							.description #{serie.nome}
							.description #{turma.nome}
		else
			.ui.orange.center.aligned.inverted.segment Não há matricula cadastrada.
