template(name="seriesTurmasView")
	.ui.blue.top.attached.segment
		h3.ui.blue.header Séries e Turmas
	.ui.attached.segment
		form.ui.form#seriesTurmasForm(method="post")
			.three.wide.fields
				.field
					.ui.selection.dropdown
						input#ano_id(type="hidden",name="ano_id")
						i.dropdown.icon
						.default.text Selecione o Ano Letivo
						.menu
							.item(data-value="2016") 2016
				.field
					.ui.selection.dropdown
						input#serie_id(type="hidden",name="serie_id")
						i.dropdown.icon
						.default.text Selecione a Série
						.menu
							each series
								.item(data-value="#{_id}") #{nome}
				.field
					.ui.selection.dropdown
						input#turma_id(type="hidden",name="turma_id")
						i.dropdown.icon
						.default.text Selecione a Turma
						.menu
							each turmas
								.item(data-value="#{_id}") #{nome}
