template(name="paisFormView")
	.ui.blue.top.attached.segment
		h3.ui.blue.header Novo Pai/Mãe
	.ui.attached.grid.segment
		.sixteen.wide.column
			form.ui.form#paiForm(method="post")
				.two.fields
					.field
						label Nome
						input(type="text",name="nome")
					.field
						label Celular
						input(type="text",name="celular")
	.ui.secondary.botton.attached.segment
		button.ui.blue.button(type="submit",form="paiForm") Gravar Pai
