template(name="paisView")
	+paisFormView
	.ui.blue.top.attached.segment
		h3.ui.blue.header Pais
	.ui.botton.attached.four.column.grid.segment
		if pais
			each pais
				.column
					.ui.blue.card
						.ui.red.button.delPai X
						.content
							.header #{nome}
							.description #{celular}
		else
			.four.wide.column
				.ui.orange.center.aligned.inverted.segment Não há pai cadastrado.
