template(name="seriesView")
	.ui.blue.top.attached.segment
		h2.ui.blue.header Séries e Turmas
	.ui.two.column.attached.grid.segment
		.column
			form.ui.form#seriesForm(method="post")
				.ui.green.top.attached.segment
					h3.ui.green.legend Série
					if serieExcluir
						.ui.orange.inverted.center.aligned.segment
							p Tem ceteza que deseja excluir esta série?
					else
						.field
							input(type="number",placeholder="Série",name="serie")
						.field
							input(type="text",placeholder="Nome",name="nome")
				.ui.bottom.attached.secondary.segment
					if serieExcluir
						button.ui.red.small.button#confSerieBtn(type="button") Excluir Série
					else
						button.ui.blue.small.button(type="submit") Gravar Série
					button.ui.right.floated.button#cancelSerieBtn(type="button") Cancelar
		.column
			form.ui.form#turmasForm(method="post")
				.ui.orange.top.attached.segment
					h3.ui.orange.legend Turma
					if turmaExcluir
						.ui.orange.inverted.center.aligned.segment
							p Tem ceteza que deseja excluir esta turma?
					else
						.field
							.ui.selection.dropdown
								input(type="hidden",name="serie_id")
								i.dropdown.icon
								.default.text Selecione a Série
								.menu
									each series
										.item(data-value="#{_id}") #{nome}
						.field
							input(type="text",placeholder="Nome",name="nome")
				.ui.bottom.attached.secondary.segment
					if turmaExcluir
						button.ui.red.small.button#confTurmaBtn(type="button") Excluir Série
					else
						button.ui.blue.small.button(type="submit") Gravar Turma
					button.ui.right.floated.button#cancelTurmaBtn(type="button") Cancelar
	if series
		.ui.blue.four.column.grid.segment
			each series
				.column
					.ui.blue.top.attached.segment
						h3.ui.blue.header #{nome}
					if turmas
						.ui.vertical.fluid.attached.menu
							each turmas
								.item
									|#{nome}
									i.red.trash.icon.pointer.delTurmaBtn
									i.blue.edit.icon.pointer.editTurmaBtn
					.ui.bottom.attached.secondary.right.aligned.segment
						i.blue.edit.icon.pointer.editSerieBtn
						i.red.trash.icon.pointer.delSerieBtn
