template(name="alunosFormView")
	.ui.blue.top.attached.segment
		h3.ui.blue.header Novo Aluno
	.ui.attached.grid.segment
		.ten.wide.column
			form.ui.form#alunoForm(method="post")
				.three.fields
					.field
						label Nome
						input(type="text",name="nome")
					.field
						label Idade
						input(type="text",name="idade")
					.field
						label RFID
						input(type="text",name="uid")
				.field
					label Foto
					+upload_semanticUI fileTypes='.jpg, .png' callbacks=alunoFotoUp
		.six.wide.column
			.ui.card
				.image
					if alunoFotoAtual
						img(src="#{alunoFotoAtual.fotoCrachaUrl}")
					else
						img(src="/thumbs/matthew.png")
	.ui.secondary.botton.attached.segment
		button.ui.blue.button(type="submit",form="alunoForm") Gravar Aluno
