template(name="alunosView")
	+alunosFormView
	.ui.blue.top.attached.segment
		h3.ui.blue.header Alunos
	.ui.botton.attached.four.column.grid.segment
		if alunos
			each alunos
				.column
					.ui.blue.card
						.ui.red.button.delAluno X
						.image
							img(src="#{foto.fotoCrachaUrl}")
						.content
							.header #{nome}
							.description #{idade} anos
						.content
							.description
								a.ui.blue.mini.button(href="/admin/pais/#{_id}") Pais
		else
			.four.wide.column
				.ui.orange.center.aligned.inverted.segment Não há aluno cadastrado.
