template(name="homeView")
	.ui.container.three.column.grid
		.column
			.ui.blue.segment
				.ui.blue.left.ribbon.label Alunos na Escola
				p
		.column
			.ui.red.segment
				.ui.red.left.ribbon.label Alunos Atrasados
				p
		.column
			.ui.green.segment
				.ui.green.right.ribbon.label Alunos
				p
