body {
	background-attachment: fixed;
	background-image: url('/backgrounds/Light-Abstract-Wallpapers.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size:cover;

	padding-top: 50px;
}

#mainMenu {
	background-color: rgba(255,255,255,.5);
}

.pointer {
	cursor: pointer;
}
